<body class="@(isWide? "wide" : null)">
    <div class="overlay" id="js-overlay">
        <!--Add your pre-loader image or gif image here-->
        <!--<img class="preloader" src="~/YOUR/IMAGE/PATH/pre-loader.gif" alt="Loading..."/>-->
        
        <!--Found this cool pre-loader online-->
        <!--Remember seeing this pre-loader on Codepen, but couldn't find the exact address for it. If you are seeing this please contact me and I'll add the address to reference.-->
        <div class="preloader-1">
            <div>Loading</div>
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
            <span class="line line-4"></span>
            <span class="line line-5"></span>
            <span class="line line-6"></span>
            <span class="line line-7"></span>
            <span class="line line-8"></span>
            <span class="line line-9"></span>
            <span class="line line-10"></span>
        </div>
    </div>
</body>